.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8fcfd;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dce9ee;
  z-index: 1001;
  position: fixed;



  box-sizing: border-box;
}


.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  height: 50px;
  margin-right: 12px;
}

.header-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-logo-text strong {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f3a4b;
}

.header-logo-text small {
  font-size: 0.9rem;
  color: #555;
  margin-top: 2px;
}

.auth-header {
  justify-content: center;
  background-color: #f4fbfd;
  padding: 2rem 0;
}

.auth-logo {
  height: 60px;
}